.education-banner {
	padding: 90px 0;

	.row {
		@media all and (min-width:1100px) {
			align-items: center;
		}
	}

	.col-5 {
		position: relative;
	}

	.doodle {
		width: 140px;
		position: absolute;
		right: 13%;
		top: -80px;
	}
}

.what-we-help {
	padding: 90px 0;

	.h2 {
		padding-right: 5%;
	}

	.col-6 {
		&:nth-of-type(2) {
			@media all and (min-width:1100px) {
				padding-left: 5%;
			}
		}
	}
}

.education-case-study {
	padding: 80px 0;

	.items {
		margin-top: 80px;
	}

	.accordions {
		padding-left: 0;
		margin-bottom: 80px;

		@media all and (min-width:1100px) {
			padding-right: 100px;
		}

		img {
			top: 50%;
			transform: translateY(-50%) rotate(0);
			left: unset;
			right: 0;
			width: 40px;
			height: 40px;
		}

		.active, .control:hover {
			img {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}

	.control {
		padding-right: 8%;
		border-bottom: 0;
	}

	.panel {
		font-weight: normal;
		margin-bottom: 0;

		div {
			margin: 30px 0 20px;
		}
	}
}

.education-video {
	padding: 80px 0;

	.col-12 {
		margin-bottom: 70px;
	}

	.item {
		margin-bottom: 50px;
		text-align: center;
	}

	.video {
		margin-bottom: 12px;
	}
}

.education-tips {
	.button-1 {
		margin-top: 40px;
	}

	.item {
		@extend %shadow;
		background: #fff;
		border-radius: 16px;
		padding: 32px;
		width: 100%;
		margin-bottom: 24px;

		@media all and (max-width:1440px) {
			padding: 18px;
		}

		img {
			width: 64px;
			height: 64px;
			margin-right: 40px;

			@media all and (max-width:1440px) {
				width: 50px;
				height: 50px;
				margin-right: 20px;
			}
		}

		p {
			margin: 0;
			font-weight: 700;
		}
	}
}