.site-header {
	padding: 16px 0;
	background-color: rgba( #fff, 0.4 );
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;

	&.fixed {
		background-color: rgba( #fff, 1 );
	}

	&.nav-mobile {
		.menu-menu-1-container {
			transform: translateX(0);
		}
	}

	@media all and (max-width:1440px) {
		padding: 12px 0;
	}

	@media all and (max-width:991px) {
		background: #fff;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	li {
		position: relative;

		&:hover {
			.sub-menu {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
				max-height: unset;
			}
		}
	}

	.menu a {
		padding: 16px 0;
		font-family: var(--font-sans);
	}

	.sub-menu {
		position: absolute;
		top: 100%;
		left: 5px;
		flex-direction: column;
		background: #fff;
		border-radius: 16px;
		min-width: 100%;
		overflow: hidden;
		box-shadow: 0px 16px 32px -8px rgba(0, 0, 0, 0.15);
		visibility: hidden;
		opacity: 0;
		transform: translateY(10%);
		transition: .1s;

		a {
			padding: 16px 24px;
			display: block;
			margin: 0;
			white-space: nowrap;
			
			&:hover {
				background: var(--color-base);
				color: #fff;
			}
		}
	}

	a {
		font-size: 16px;
		font-weight: 600;
		margin: 0 32px;
		font-family: var(--font-sans);

		@media all and (max-width:1440px) {
			margin: 0 16px;
			font-size: 14px;
		}
	}

	.custom-logo-link {
		margin: 0;

		img {
			width: 70px;
			height: 60px;
			object-fit: contain;
		}
	}

	.menu-right {
		a:last-of-type {
			margin-right: 0;
		}
	}
}

#nav-control {
	@media all and (min-width:992px) {
		display: none;
	}

	cursor: pointer;
	display: flex;
	flex-direction: column;
	background: none;
	border: 0;

	span {
		width: 35px;
		height: 3px;
		background: #000;
		margin: 2px 0;
	}
}

.current_page_item, .current-menu-item {
	a {
		color: var(--color-base);
	}
}

.menu-menu-1-container {
	@media all and (max-width:991px) {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 70%;
		background: #fff;
		box-shadow: 0px 16px 32px -8px rgba(0, 0, 0, 0.15);
		transform: translateX(-100%);
		transition: .3s;

		ul {
			height: 100%;
			flex-direction: column;
			justify-content: center;
		}

		li {
			margin: 20px 0;
		}

		.sub-menu {
			position: unset;
			max-height: 0px;

			li {
				margin: 10px 0;
			}

			a {
				padding: 0 30px;
			}
		}
	}
}

.menu-item-has-children {
	@media all and (max-width:992px) {
		> a {
			&:after {
				content: '';
				border: solid var(--color-black);
				border-width: 0 2px 2px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(45deg);
				margin-left: 7px;
				margin-bottom: 2px;
			}
		}
	}
}