.health-banner {
	padding-bottom: 80px;

	p {
		margin: 24px 0px 54px;
	}
	.cta {
		a {
			margin-right: 36px;
		}
	}

	.left {
		padding-top: 10%;
	}

	.col-12 {
		position: relative;
		z-index: -1;
		margin-top: -8%;
	}

	.content {
		@extend %shadow;
		border-radius: 48px;
		background: var(--color-base);
		color: #fff;

		@media all and (min-width:1100px) {
			padding: 6%;
		}

		p {
			margin-top: 0;
			margin-bottom: 24px;
		}

		h2 {
			margin-bottom: 40px;
		}

		.col {
			text-align: justify;
		}
	}
}

.health-case-study {
	padding: 80px 0;

	.col-12 {
		margin-bottom: 100px;
	}

	.item {
		@media all and (min-width:1100px) {
			align-items: center;
			margin-bottom: 90px;

			&:nth-child(2n+1) {
				flex-direction: row-reverse;

				.col-7 {
					justify-content: flex-start;
				}

				.col-5 {
					padding-left: 5%;
					padding-right: 15px;
				}

				.box {
					right: 0;
					left: unset;
				}
			}
		}

		.excerpt {
			margin: 24px 0 48px;

			p {
				margin: 0;
			}
		}
	}

	.image {
		max-width: 75%;
	}

	.col-7 {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	.col-5 {
		padding-right: 5%;
	}

	.box {
		position: absolute;
		top: 20%;
		left: 0;
		background: #fff;
		border-radius: 16px;
		padding: 24px;
		width: 307px;
		@extend %shadow;

		a {
			font-weight: 700;
		}

		img {
			width: 24px;
			margin-right: 16px;
		}

		p {
			margin: 0 0 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #E5E5E5;
		}
	}
}

.health-info {
	margin-bottom: 80px;
	.col-12 {
		margin-bottom: 80px;
	}

	.item {
		background: #fff;
		@extend %shadow;
		border-radius: 40px;
		padding: 8%;
	}

	img {
		width: 80px;
		margin-bottom: 40px;
	}

	p {
		margin-top: 30px;
		margin-bottom: 0;
	}
}

.health-ebook {
	padding: 80px 0;
	.col-12 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}