.cs-banner {
	margin-bottom: 80px;

	.row {
		@media all and (min-width:1100px) {
			align-items: center;
		}
	}

	.button-3 {
		margin-top: 56px;
	}
}

.cs-intro {
	padding: 80px 0;

	.col-12 {
		background: var(--color-base);
		border-radius: 48px;
		padding: 7% 15px;
		color: #fff;
	}
}

.cs-term {
	padding: 80px 0 50px;

	.col-12 {
		p {
			margin: 24px 0px 40px;
		}
	}

	.item {
		margin: 25px 0;

		a {
			display: block;
			margin-top: 14px;

			&:hover {
				color: var(--color-base);
			}
		}
	}
}

.cs-list {
	.h2 + p {
		margin-bottom: 60px;
	}

	hr {
		margin: 80px 0;
	}

	.splide {
		margin-bottom: 80px;

		&__slide {
			border-radius: 0;
			background-color: transparent;
			display: flex;
			align-items: center;
		}

		.entry-thumbnail {
			width: 50%;
			height: 100%;
		}

		img {
			height: 100%;
			border-radius: 24px;
		}

		.entry-content {
			width: 50%;
			padding: 30px;
		}

		&__arrows {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: space-between;
			width: calc( 100% + 100px );
		}
	}
}

.cs-normal {
	.entry-thumbnail {
		height: 240px;
	}

	.entry-content {
		padding: 20px 25px;
	}

	img {
		height: 260px;
	}

	h3 {
		height: 120px;
		margin: 0 0 20px;
		overflow: hidden;
	}

	p {
		height: 85px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.graphic-banner {
	margin: 90px 0;
	color: #fff;
	
	.row {
		background: var(--color-base);
		@extend %shadow;
		border-radius: 48px;
		overflow: hidden;

		@media all and (min-width:1100px) {
			margin: 0;
			align-items: center;
			padding: 20px 0;
		}
	}

	&__content {
		@media all and (min-width:1100px) {
			padding-left: 100px;
		}
	}
}

.graphic-items {
	img {
		display: block;
		margin-bottom: 80px;
		@extend %shadow;
		height: auto;
	}
}

.contact-banner {
	margin-bottom: 80px;

	.row {
		@media all and (min-width:1100px) {
			align-items: center;
		}
	}
}

.contact-form {
	padding: 80px 0;

	.h2 {
		& + p {
			margin: 24px 0 60px;
		}
	}

	h4 {
		margin-bottom: 25px;
	}

	p {
		margin: 0;
	}

	form {
		.col-12 {
			margin-top: 40px;
		}

		textarea {
			font-size: 14px;
			padding: 20px;

			@media all and (min-width:1100px) {
				height: calc( 100% - 24px );
			}
		}
	}

	label input:not([type=submit]) {
		padding: 20px;
	}

	.h100 {
		@media all and (min-width: 1100px) {
			height: 100%;
		}
	}

	.button-3 {
		display: block;
		margin: 0 auto;
	}
}

.animation-provided {
	.wpcf7-list-item {
		@media all and (min-width:1100px) {
			width: 65%;

			&:nth-child(2n+1) {
				width: 35%;
			}
		}
	}
}

.blogs-list {
	.row {
		align-items: flex-start;
	}

	.h2 {
		margin-bottom: 25px;
	}
}

.post-sticky {
	margin-bottom: 80px;

	.row {
		align-items: center;
	}

	.entry-info {
		@media all and (max-width:991px) {
			padding: 0 20px;
		}
	}
	.entry-content {
		padding-right: 20px;

		@media all and (max-width:991px) {
			padding: 0 20px 20px;
		}
	}
}

.entry-info {
	span {
		color: #A0A0A0;
		width: 100%;
		display: block;
	}

	a {
		display: inline-flex;
		align-items: center;
		margin-right: 25px;

		img {
			width: 14px;
			object-fit: contain;
			margin-right: 5px;
		}
	}
}

article {
	border-radius: 40px;
	background: #fff;
	overflow: hidden;

	.entry-thumbnail {
		display: block;
		
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}

	.entry-info {
		margin: 24px 0 15px;
	}

	.entry-content {
		a:hover {
			h2 {
				color: var(--color-base);
			}
		}
	}
}

.post-item {
	margin-bottom: 40px;

	.entry-thumbnail {
		@media all and (max-width:1439px) {
			max-height: 200px;

			img {
				max-height: 200px;
			}
		}

		@media all and (max-width:991px) {
			max-height: 300px;

			img {
				max-height: 300px;
			}
		}
	}

	.entry-info {
		padding: 0 25px;
	}

	.entry-content {
		padding: 0 25px 20px;
	}

	.h4 {
		height: 75px;
		overflow: hidden;

		@media all and (max-width:1400px) {
			height: 68px;
		}

		@media all and (max-width:991px) {
			height: auto;
		}
	}

	p {
		height: 110px;
		overflow: hidden;

		@media all and (max-width:1400px) {
			height: 85px;
		}

		@media all and (max-width:991px) {
			height: auto;
		}
	}
}

.sidebar {
	@media all and (min-width:1100px) {
		padding-left: 65px;
	}

	h4 {
		margin-bottom: 40px;
		margin-top: 60px;
		width: 100%;
		clear: both;
	}

	.category {
		display: block;
		float: left;
		padding: 8px 16px;
		border: 1px solid #595959;
		border-radius: 999px;
		margin: 0 20px 15px 0;

		&:hover {
			border-color: var(--color-base);
			background-color: var(--color-base);
			color: #fff;
		}
	}

	.ebook-download {
		padding-top: 80px;
		margin-top: 80px;
		clear: both;
	}
}

.post-sidebar {
	background: none;
	border-radius: 0;
	margin-bottom: 24px;

	.row {
		align-items: center;
		flex-wrap: nowrap;

		@media all and (max-width:991px) {
			flex-wrap: wrap;
		}
	}

	img {
		height: 76px;
		border-radius: 8px;

		@media all and (max-width:1439px) {
			height: 55px;
		}

		@media all and (max-width:991px) {
			height: 250px;
		}
	}

	h2 {
		font-weight: 400;
		font-size: 16px;
		padding-left: 0;
		height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;

		@media all and (max-width:991px) {
			padding-left: 20px;
			margin-top: 12px;
		}

		&:hover {
			color: var(--color-base);
		}
	}
}

.pagination {
	margin: 0 auto;
	flex: 0 0 100%;

	.nav-links {
		display: flex;
		justify-content: center;
	}

	.page-numbers {
		margin: 0 20px;
		border-radius: 4px;
		width: 32px;
		height: 32px;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		&.current {
			background: var(--color-base);
			color: #fff;
		}
	}
}

.single-post-banner {
	margin: 80px 0;

	@media all and (max-width:991px) {
		margin: 0 0 30px;

		img {
			max-height: 200px !important;
		}
	}

	h1 {
		@media all and (min-width:1100px) {
			font-size: 2.5em;
			margin-bottom: 30px;
		}
	}

	span, a {
		color: #fff;
	}

	&__content {
		color: #fff;
		border-radius: 48px;
		padding: 4% 64px;

		@media all and (max-width:991px) {
			padding: 20px 0;
			border-radius: 0;

			.col-6 {
				margin: 15px 0;
			}
		}
	}
}

.single-post-content {
	.col-8 {
		p {
			line-height: 1.8;
			text-align: justify;
		}

		a {
			color: var(--color-base);

			&:hover {
				color: var(--color-black);
				text-decoration: underline;
			}
		}

		h3, h4, h5 {
			margin: 1em 0;
		}
	}

	ul {
		flex-direction: column;
		padding-left: 20px;
	}

	li {
		list-style: unset;
		text-align: justify;
	}
}

.single-case-study {
	.single-post-content {
		p {
			line-height: 1.8;
			text-align: justify;
		}

		a {
			color: var(--color-base);

			&:hover {
				color: var(--color-black);
				text-decoration: underline;
			}
		}

		h3, h4, h5 {
			margin: 1em 0;
		}
	}
}

.related-post {
	padding: 80px 0;

	.h2 {
		margin-bottom: 60px;

		@media all and (max-width:991px) {
			margin-bottom: 40px;
		}
	}
}

.ebook-list {
	.h2 {
		margin-bottom: 60px;
	}

	.entry-thumbnail {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-height: unset;
		height: 250px;

		&:before {
			content: '';
			width: 64px;
			height: 64px;
			display: block;
			position: absolute;
			top: -20px;
			right: -20px;
			border-radius: 16px;
			background: var(--color-base);
			z-index: 1;
		}

		.tag {
			position: absolute;
			color: #fff;
			z-index: 2;
			top: 12px;
			right: 10px;
			font-size: 14px;
		}

		img {
			max-height: 200px;
			max-width: 250px;
			object-fit: contain;
		}
	}

	article {
		.h4 {
			margin: 25px 0;
		}
	}

	.sidebar {
		h4:first-child {
			margin-top: 0;
		}
	}

	.news-letter {
		padding-top: 80px;
		margin-top: 80px;

		h4 {
			margin-bottom: 16px;
		}

		form {
			display: flex;
			justify-content: space-between;
		}

		input[type=email] {
			padding: 13px 20px;
			width: calc( 100% - 16px );
		}
	}
}

.single-ebook-banner {
	padding: 80px 0;

	@media all and (max-width:991px) {
		padding: 0;

		.h2 {
			margin-bottom: 30px;
		}
	}

	.row {
		@media all and (min-width:1100px) {
			align-items: center;
		}
	}

	.image {
		@media all and (min-width:1100px) {
			padding-left: 7%;
		}
	}

	img {
		border-radius: 40px;
		height: auto;
		@extend %shadow;

		@media all and (max-width:991px) {
			margin-top: 30px;
		}
	}
}

.single-ebook-content {
	padding: 80px 0;

	@media all and (max-width:991px) {
		padding: 40px 0 0;
	}

	.h2 {
		margin-bottom: 80px;

		@media all and (max-width:991px) {
			margin-bottom: 30px;
		}
	}

	.row {
		@media all and (min-width:1100px) {
			align-items: center;
			justify-content: center;
		}
	}

	.col-8 {
		margin-bottom: 40px;

		@media all and (max-width:991px) {
			margin-bottom: 60px;
		}
	}

	.image {
		@media all and (min-width:1100px) {
			padding-right: 7%;
		}
	}

	img {
		border-radius: 40px;

		@media all and (max-width:991px) {
			max-height: 250px;
		}
	}

	p {
		text-align: justify;
	}

	ul {
		flex-direction: column;
		padding-left: 20px;
	}

	li {
		list-style: unset;
		text-align: justify;
	}
}

.book-content-slider {
	.splide__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media all and (max-width:991px) {
			top: calc(100% + 20px);
			justify-content: center;
		}
	}
}

.archive,
.blog {
	.page-block {
		.video {
			img {
				@media all and (min-width:992px) {
					max-width: 70%;
					margin-left: auto;
					margin-right: 0;
				}
			}
		}
	}
}